@import url(https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Bungee&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
body {
  font-size: 1rem;
}
header {
  height: auto;
  min-height: 300px;
  background: url(../img/cristina-.jpg);
  background-size: cover;
  background-position: bottom;
}
.titre {
  display: flex;
  justify-content: center;
  align-items: center;
}
header p {
  height: auto;
  width: 100%;
  text-align: center;
  font-size: 5em;
  color: #fff;
  font-family: 'Bungee', cursive;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
  height: a;
  background: url(../img/cordo-removebg-preview.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}
.text {
  height: auto;
  width: auto;
  min-width: 320px;
  inline-size: 400px;
  line-height: 30px;
  padding: 25px;
  text-align: justify;
}
.text h2 {
  font-size: 2.5em;
  font-family: 'Playfair Display', serif;
  margin-bottom: 15px;
}
.text span {
  font-weight: 700;
}
footer {
  color: #fff;
  background: #333;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 16px;
}
.separation {
  height: 150px;
  border-left: 2px solid #fff;
}
.date {
  text-align: center;
  line-height: 30px;
}
.contact p {
  line-height: 30px;
}
@media (max-width: 850px) {
  .text {
    margin-left: 267px;
  }
  header p {
    line-height: 80px;
    font-size: 10vw;
  }
  .titre {
    flex-wrap: wrap;
  }
}
@media (max-width: 647px) {
  header {
    min-width: 320px;
  }
  .container {
    min-width: 320px;
    background-image: none;
  }
  footer {
    min-width: 320px;
  }
  .text {
    inline-size: 320px;
  }
}
@media (max-width: 648px) {
  .text {
    margin-left: 0;
  }
  footer {
    flex-direction: column;
  }
  .separation {
    display: none;
  }
}
@media (max-width: 320px) {
  header {
    width: 320px;
  }
  footer {
    width: 320px;
  }
}
