@import url(https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Bungee&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  transition: all 0.5s;
}
body {
  font-size: 1rem;
}
header {
  height: auto;
  min-height: 300px;
  background: url(../img/cristina-.jpg);
  background-size: cover;
  background-position: bottom;
}
.titre {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header p {
  height: auto;
  width: 100%;
  text-align: center;
  font-size: clamp(50px, 8vh, 150px);
  color: #fff;
  font-family: 'Bungee', cursive;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  height: a;
  background: url(../img/cordo-removebg-preview.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}
section.tarif {
  height: auto;
  min-width: 320px;
  background: #333;
  color: #fff;
  padding: 15px;
  text-align: center;
  line-height: 30px;
}
.tarif h2 {
  margin-bottom: 10px;
}
.tarif span {
  background: #eee;
  border-radius: 5px;
  color: #333;
  padding:3px;
}
/* cards */

section.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}
.item {
  width: 250px;
  height: 200px;
  border-radius: 10px;
  text-align: center;
  margin-top: 15px;
  color: #fff;
  text-shadow: 1px 1px 1px #333;
  padding: 50px 10px 0 10px;
}

/* bg cards */
.card-1 {
  background: url(../img/beach.jpg);
  background-size: cover;
  background-position: center;
}
.card-2 {
  background: url(../img/collectif.jpg);
  background-size: cover;
  background-position: center;
}
.card-3 {
  background: url(../img/pool.jpg);
  background-size: cover;
  background-position: bottom;
}
.card-4 {
  background: url(../img/camp.jpg);
  background-size: cover;
  background-position: bottom;
}

.text {
  height: auto;
  width: auto;
  min-width: 320px;
  inline-size: 400px;
  line-height: 30px;
  padding: 25px;
  text-align: justify;
}
.text h2 {
  font-size: 2.5em;
  font-family: 'Playfair Display', serif;
  margin-bottom: 15px;
}
.text span {
  font-weight: 700;
}
footer {
  color: #fff;
  background: #333;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 16px;
}
.separation {
  height: 150px;
  border-left: 2px solid #fff;
}
.date {
  text-align: center;
  line-height: 30px;
}
.contact p {
  line-height: 30px;
}

/* Media querry */
@media (max-width: 1026px) and (min-width: 780px) {
  .card-4 {
    flex: content;
    background-position: bottom;
  }
}

@media (max-width: 850px) {
  .text {
    margin-left: 267px;
  }
  header p {
    line-height: 80px;
    font-size: 10vw;
  }
  .titre {
    flex-wrap: wrap;
  }
}
@media (max-width: 647px) {
  header {
    min-width: 320px;
  }
  .container {
    min-width: 320px;
    background-image: none;
  }
  .container {
    background: rgb(51, 51, 51,0.7) url(../img/matt.jpg);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-shadow: 1px 1px 2px #333;
  }
  footer {
    min-width: 320px;
  }
  .text {
    inline-size: 320px;
  }
}
@media (max-width: 648px) {
  .text {
    margin-left: 0;
  }
  footer {
    flex-direction: column;
  }
  .contact {
    text-align: center;
  }
  .separation {
    display: none;
  }
}
@media (max-width: 320px) {
  header {
    width: 320px;
  }
  footer {
    width: 320px;
  }
}
