@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  height: auto;
  min-height: 300px;
  background: url(../img/cristina-.jpg);
  background-size: cover;
  background-position: bottom;
}
header h1 {
  padding-top: 50px;
  text-align: center;
  font-size: 80px;
  color: #fff;
  font-family: 'Bungee', cursive;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
  height: 100%;
  background: url(../img/cordo-removebg-preview.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}
.text {
  height: 400px;
  min-width: 500px;
  inline-size: 300px;
  line-height: 30px;
  padding: 25px;
  text-align: justify;
}
.text h2 {
  font-size: 25px;
  font-family: 'Playfair Display', serif;
  margin-bottom: 15px;
}
.text span {
  font-weight: 700;
}
footer {
  color: #fff;
  background: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 16px;
}
.separation {
  height: 150px;
  border-left: 2px solid #fff;
}
/* #margin-left {
  margin-left: 35px;
  text-shadow: 0px 1px 0.5px #7a7979;
} */
@media (max-width:850px) {
  .text {
    margin-left: 267px;
  }
}

@media (max-width: 647px) {
  header {
    min-width: 650px;
  }
  .container {
    min-width: 650px;
    background-image: none;
  }
  footer {
    min-width: 650px;
  }
  .text {
    inline-size: 80px;
  }
}

@media (max-width:648px) { 
  .text {
    margin-left: 0;
  }
}